@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.bi{
    color: #ccc;
    cursor: pointer;
    font-size: 2rem;
}
.highlighted{
    color: deeppink;
}